/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    /*color: #f9f9f9;*/
    color: #000;
    margin: 10px 0;
}

h2 {
    text-align: center;
    color: #5a0e0e;
    margin: 10px 0;
}

/* Encabezado */
header {
    background-color: #5a0e0e;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contenedor principal */
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Promedio General */
.promedio-general {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
}

.nivel {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
}

/* Estilos por semestre */
.semestre {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.semestre h2 {
    background-color: #5a0e0e;
    color: #fff;
    padding: 8px 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
}

.table-wrapper {
    padding: 10px;
    overflow-x: auto;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fff;
}

/* Colores por estado */
.aprobada {
    background-color: #d4edda;
    color: #155724;
    font-weight: bold;
}

.reprobada {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
}

.sin-cursar {
    background-color: #fefefe;
    color: #6c757d;
    font-style: italic;
}

/* Footer */
footer {
    background-color: #5a0e0e;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
}
